@import "styles/_variaveis.scss";

.popup {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 500ms ease-in-out;
  visibility: hidden;
  background-color: transparent;

  &__content {
    position: absolute;
    background-color: transparent;
    border-radius: 10px;
    visibility: hidden;
    transition: 500ms ease-in-out;
    width: 60%;
    transform: translateY(400%);
  }

  &__content--aparecer {
    z-index: 10;
    padding: 1.5rem;
    border-radius: 10px;
    transform: translateY(0%);
    box-shadow: 0px 2px 4px $text-shadow;
    background-color: $tema-principal;
    visibility: visible;
    z-index: 10;
  }

  &__opcoes {
    display: flex;
    color: transparent;
    margin-top: 1rem;
    justify-content: space-evenly;
  }

  &__opcoes--aparecer {
    color: $surface;
  }
}

.popup--aparecer {
  background-color: $text-shadow;
  visibility: visible;
}

.opcoes__nao,
.opcoes__sim {
  border: none;
  color: transparent;
  font-weight: 800;
  transition: 500ms ease-in-out;
  background-color: transparent;
  box-shadow: none;
  border-radius: 2px;
}

.opcoes__nao--aparecer,
.opcoes__sim--aparecer {
  padding: 0.6rem 2rem;
  box-shadow: 0px 2px 4px $text-shadow;
  text-shadow: 0px 2px 4px $text-shadow;
}

.opcoes__nao--aparecer {
  background-color: $tema-principal;
  color: $surface;
}

.opcoes__sim--aparecer {
  background-color: $surface;
  color: $tema-principal;
}

.content__paragraph {
  color: transparent;
  transition: 500ms ease-in-out;
}
.content__paragraph--aparecer {
  color: $surface;
  text-shadow: 0px 2px 8px $tema-principal;
}

@media(min-width: $media) {
  .popup {
    &__content {
      width: 40%;
      font-size: 20px;
    }
  }
}
