@import "styles/_variaveis.scss";

.aba {
  &__lista {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 0;
    list-style: none;
    margin: 3rem auto 1.5rem;
  }

  &__forma {
    text-decoration: none;
    font-weight: 800;
    margin-top: 0.3rem;
    margin: 0.6rem 0.6rem 0.6rem 0;
    padding-left: 0.2rem;
    font-size: 20px;
    text-shadow: 0px 2px 4px $text-shadow;
    &:hover {
      cursor: pointer;
    }
  }
}
.aba__forma--entradas {
  color: #008b0e;
}

.aba__forma--saidas {
  color: #cc0000;
}

.aba__forma--ativo-entrada {
  border-top: 6px #008b0e solid;
}

.aba__forma--ativo-saida {
  border-top: 6px #cc0000 solid;
}

