@import 'styles/_variaveis.scss';

.aba__lista {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}

.aba__forma {
  text-decoration: none;
}

.aba__forma--entradas {
  color: lightgreen;
}

.aba__forma--saidas {
  color: red;
}