@import "styles/_variaveis.scss";

.input__div {
  display: flex;
  margin: 1rem auto;
  width: 65%;
  padding-left: .2rem;
  align-items: center;
}

.controlador__botao {
  &:disabled {
    opacity: .6;
  }
  width: 40%;
  margin: 0 auto;
  display: block;
  background: $surface;
  text-shadow: 0px 2px 4px $text-shadow;
  font-weight: 800;
  padding: .5rem;
  border: none;
  color: $tema-principal;
  box-shadow: 0px 2px 6px $text-shadow;
  border-radius: 2px;
}

.controlador__input {
  border-radius: 2px;
  box-shadow: 0px 2px 6px $text-shadow;
  margin: 0.5rem 0 0.5rem 0;
  color: $surface;
  border: none;
  padding: 0.5rem;
  background-color: $input;
  text-align: center;
  width: 60%;
}


.controlador__lista {
  display: flex;
  padding: 1rem 0 1rem 0;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  list-style: none;
}

.lista__quantia {
  background-color: $tema-principal;
  width: 100%;
  margin: .6rem .6rem .6rem 0;
  height: 80px;
  display: flex;
  font-size: 20px;
  text-shadow: 0px 2px 4px $text-shadow;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 3px 10px $text-shadow;
}

.lista__quantia--entrada {
  color: $positivo;
}

.lista__quantia--saida {
  color: $negativo;
}

.none {
  display: none;
}