@import "styles/_variaveis.scss";

.section--controlador {
  width: 100%;
  margin: 0 auto;
}

.input__div {
  display: flex;
  margin: 4rem auto 2rem auto;
  width: 70%;
  padding-left: 0.2rem;
  align-items: flex-start;
}

.inputs {
  margin-top: -1.63rem;
  text-shadow: 0px 2px 4px $tema-principal;
}

.label {
  text-shadow: 0px 2px 10px $tema-principal;
  color: $surface;
  margin-left: 1rem;
}

#label-valor {
  text-shadow: 0px 2px 4px $tema-principal;
}

.controlador {
  &__botao {
    &:disabled {
      opacity: 0.6;
    }
    z-index: 1;
    width: 45%;
    margin: 0rem auto;
    display: block;
    background: $surface;
    transition: 500ms;
    text-shadow: 0px 2px 4px $text-shadow;
    font-weight: 800;
    padding: 0.5rem;
    border: none;
    color: $tema-principal;
    box-shadow: 0px 2px 6px $text-shadow;
    border-radius: 2px;
  }
  &__botao--popupon {
    z-index: -1;
  }
  &__input {
    border-radius: 2px;
    box-shadow: 0px 2px 6px $text-shadow;
    margin: 0.5rem 0 0.5rem 0;
    color: $surface;
    border: none;
    padding: 0.5rem;
    background-color: $input;
    text-align: center;
    width: 90%;
  }
}

.lista {
  display: flex;
  padding: 0 0 1rem 0;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  list-style: none;
  &__quantia {
    background-color: $tema-principal;
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 0.6rem 0.6rem 0.6rem 0;
    display: flex;
    height: 40px;
    display: flex;
    font-size: 16px;
    text-shadow: 0px 2px 4px $text-shadow;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 3px 10px $text-shadow;
  }
  &__quantia--entrada {
    color: $positivo;
  }

  &__quantia--saida {
    color: $negativo;
  }
}

.categoria {
  color: $surface;
  text-align: center;
  font-size: 14px;
  width: 55%;
}

.valor {
  width: 45%;
  font-size: 14px;
  text-align: right;
}

.none {
  display: none;
}

@media(min-width: $media) {
  .controlador {
    &__input {
      width: 100%;
      border-radius: 3px;
    }

    &__botao {
      width: 30%;
      border-radius: 3px;
    }
  }

  .inputs {
    width: 60%;
  }
  .section--controlador {
    width: 60%;
    margin: 0 auto;
  }
  .lista {
    &__quantia {
      height: 60px;
    }
  }
  .valor, .categoria {
    font-size: 18px;
  }
}

