@import "styles/_variaveis.scss";

@import "styles/_variaveis.scss";

.section--controlador {
  width: 100%;
  margin: 0 auto;
}

.lista {
  display: flex;
  padding: 0 0 1rem 0;
  flex-direction: column;
  width: 90%;
  margin: 2rem auto;
  flex-wrap: wrap;
  list-style: none;
  &__content {
    background-color: $tema-principal;
    width: calc(100% - 2rem);
    margin: 0.6rem 0.6rem 0.6rem 0;
    display: flex;
    height: 40px;
    display: flex;
    font-size: 14px;
    text-shadow: 0px 2px 4px $text-shadow;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0px 3px 10px $text-shadow;
  }
  &__quantia--positivo {
    color: $positivo;
  }

  &__quantia--negativo {
    color: $negativo;
  }
  &__categoria {
    text-align: center;
    color: $surface;
    width: 30%;
    word-wrap: break-word;
  }
}

@media(min-width: $media) {
  
  .lista {
    width: 70%;
    &__content {
      height: 60px;
    }
  }
  .lista__quantia, .lista__categoria {
    font-size: 18px;
  }
}



.none {
  display: none;
}