@import 'styles/_variaveis.scss';

.zoomin {
  display: block;
  width: 100vw;
  top: 0;
  z-index: 3;
  position: absolute;
  background-color: transparent;
  visibility: hidden;
  height: 100vh;
  transition: 500ms ease-in-out;
}

.zoomin--aparecer {
  visibility: visible;
  display: block;
  width: 100vw;
  top: 0;
  z-index: 3;
  position: absolute;
  background-color: $text-shadow;
  height: 100vh;
}

.popupzoom {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 4;
  transform: translate(-70%, 50%);
  border-radius: 20px;
  text-align: center;
  padding: 2rem;
  transition: 500ms ease-in-out;
  font-size: 25px;
  width: 60%;

  &__positivo {
    color: $positivo;

  }
  
  &__negativo {
    color: $negativo;

  }
}

.popupzoom--aparecer {
  visibility: visible;
  opacity: 1;
  position: absolute;
  background-color: $tema-principal;
  z-index: 4;
  transform: translate(5%, 50%);
  border-radius: 20px;
  text-align: center;
  text-shadow: 0px 2px 4px $text-shadow;
  box-shadow: 0px 2px 8px $text-shadow;

}
