@import "styles/_variaveis.scss";

.carteira {
  &__div {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }

  &__div:first-child {
    margin-top: 2rem;
  }

  &__div--lucro {
    display: block;
    margin: 3rem auto;
    text-align: center;
    font-size: 25px;
    width: 100%;
    text-shadow: 0px 2px 4px $text-shadow;
    color: $surface;
  }

  &__opcao {
    font-size: 18px;
    text-align: center;
    text-shadow: 0px 2px 4px $text-shadow;
    color: $surface;
    width: 50%;
    word-wrap: break-word;
    margin-left: 1rem;
  }

  &__saidas--currency,
  &__entradas--currency {
    font-size: 18px;
    text-align: center;
    width: 50%;
    text-shadow: 0px 2px 4px $text-shadow;
  }

  &__total {
    font-size: 23px;
  }
}

.negativo {
  color: $negativo;
}

.positivo {
  color: $positivo;
}

@media(min-width: $media) {
  .carteira {
    &__div {
      width: 90%;
    }
    &__opcao {
      font-size: 23px;
    }
    &__total {
      font-size: 27px;
    }
    &__saidas--currency,
    &__entradas--currency {
      font-size: 23px;
    }
  }
}
