@import 'styles/_variaveis.scss';

.popup__div {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: 500ms ease-in-out;
  visibility: hidden;
  background-color: transparent;
}

.popup__div--aparecer {
  background-color: $text-shadow;
  visibility: visible;

}

.popup__content {
  position: absolute;
  background-color: transparent;
  border-radius: 10px;
  visibility: hidden;
  transition: 400ms ease-in-out;
  padding: 1.5rem;
  width: 60%;
  transform: scale(0.0);
}

.popup__content--aparecer {
  z-index: 10;
  border-radius: 10px;
  transform: scale(1);
  box-shadow: 0px 2px 4px $text-shadow;
  background-color: $tema-principal;
  visibility: visible;
  z-index: 10;
}

.content__paragraph {
  color: transparent;
  transition: 500ms ease-in-out;
}

.content__paragraph--aparecer {
  color: $surface;
  text-shadow: 0px 2px 8px $tema-principal;
}

.popup__opcao {
  display: flex;
  color: transparent;
  margin-top: 1rem;
  justify-content: space-evenly;
}

.popup__opcao--aparecer {

  color: $surface;
}

.opcao__ok {
  border: none;
  padding: .6rem 2rem;
  color: transparent;
  font-weight: 800;
  transition: 500ms ease-in-out;
  background-color: transparent;
  box-shadow: none;
  border-radius: 2px;
}

.opcao__ok--aparecer {
  box-shadow: 0px 2px 4px $text-shadow;
  text-shadow: 0px 2px 4px $text-shadow;
  background-color: $surface;
  color: $tema-principal;
}